.idea
.venv
/kafka_data/__cluster_metadata-0/00000000000000000000.index
/kafka_data/__cluster_metadata-0/00000000000000000000.log
/kafka_data/__cluster_metadata-0/00000000000000000000.timeindex
/kafka_data/__cluster_metadata-0/00000000000000000101.snapshot
/kafka_data/__cluster_metadata-0/00000000000000007303-0000000002.checkpoint
/kafka_data/__cluster_metadata-0/00000000000000007657.snapshot
/kafka_data/__cluster_metadata-0/leader-epoch-checkpoint
/kafka_data/__cluster_metadata-0/partition.metadata
/kafka_data/__cluster_metadata-0/quorum-state
/kafka_data/.kafka_cleanshutdown
/kafka_data/bootstrap.checkpoint
/kafka_data/cleaner-offset-checkpoint
/kafka_data/log-start-offset-checkpoint
/kafka_data/meta.properties
/kafka_data/recovery-point-offset-checkpoint
/kafka_data/replication-offset-checkpoint
kafka_data/*
*.sha1
*.deb
*env
/scripts/jars/flink-sql-connector-kafka-4.0.1-2.0.jar
.env


.env.*
!.env.example

*.pyc

__pycache__